<div class="inner cover">
  <h1 class="cover-heading">Cover your page.</h1>
  <p class="lead">This is a portfolio of feature rich custom web apps created by me as I have learned and continue developing both personally as a web developer and as and individual.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



   